doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/vendor/materialize/dist/css/materialize.min.css')
	body

		nav
			div(class="nav-wrapper col s12")
				a(href="/" class="brand-logo") Survivor
				ul(id="nav-mobile" class="right hide-on-med-and-down")
					li
						a(href="/users/") User list
					li
						a(href="/users/add") Add new user
					li
						a(href="/survivor/") Survivor


		div.container
			block content
		script(src='/vendor/jquery/dist/jquery.min.js')
		script(src='/vendor/materialize/dist/js/materialize.min.js')