extends ../layout

block content
	#wrapper
		h2 User List

		if(userlist && userlist.length)
			#userList
				table
					thead
						th UserName
						th Email
						th Edit
						th Delete
					tbody
						each user, i in userlist
							tr
								td
									a(href="/users/"+user._id)=user.username
								td= user.email
								td
									a(href="/users/edit/"+user._id) Edit
									
								td
									a(href="/users/delete/"+user._id) Delete
		else
			div no users